h1{
	padding: 30px;
	font-size: 2em;
	 font-family: Courier;
}

.container{
	background-color: #6AABD2;
	display: grid;
    grid-gap: 5px;
   border-style: solid;
	border-color: #385E72;
    grid-template-columns: 1fr 1fr 1fr; /*repsonsive grid*/
    grid-template-rows: repeat(6, minmax(75px, auto));
}
.buffer{
	border-style: solid;
	border-color: #385E72;
	height: 20vh;
	width: 100%;
	font-size: 3em;
	font-style: bold; 
	font-family:  Courier;
	text-decoration-color: #385E72;
	text-align: right;
}

.btn{ 
		background: #D9E4EC;
		font-family:  Courier;
		font-size: 2rem;
		text-decoration-color: #385E72;
		border-style: none;
		 }